
img, embed, object, video {
	width: 100%;
}
h1 {
	font: 8vw 'Dancing Script', cursive;
	color: rgb(89,58,71);
	letter-spacing: 1.5px;
	float: right;
}
h2 {
	font: 8vw 'Dancing Script', cursive;
	color: rgb(89,58,71);
	letter-spacing: 1px;
	font-size: 6vw;	
}
h3 {
	font: 5vw 'EB Garamond', serif;
	color: rgb(179,162,180);
	letter-spacing: 11px;
	float: right;
	margin: 0;
}
h4 {
	color: rgb(179,162,180);
	font: 2vw 'EB Garamond', serif;
}
hr {
    border: none;
    height: 2.5px;
    background-color: rgb(123,119,129);
}
.list-inline li{
	padding-left: 20px;
	color: green;
}

}
.list-inline li a{
	padding-left: 20px;
	color: green;
}

.list-inline li:first {
	padding: 0;
}